.logo-container
    
    float: left
    

.phone-container
  
    float: right
    
.phone
    &__number
        display: inline-block
        font-size: 24px
        
    &__icon
      display: inline-block
      width: 20px
      height: 20px
      margin: 0 5px
      background-image: url("../img/phone-icon.png")
      background-position: 50% 50%
      background-repeat: no-repeat

    &__discription
        display: block
        text-align: right
    
.logo
    display: inline-block
    background-image: url("../img/logo.png")
    background-repeat: no-repeat        
     

       
        

   

